@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body {
  margin: 0;
  color: #3a2b24;
  font-family: "Prompt", sans-serif;
  background-color: #EFDBD3;
}

.jr_container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.note_list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 50px;
}
textarea {
  width: 100%;
  border: none;
  /* resize: none; */
  background-color: #E69B6C;
}

.save {
  border: none;
  padding: 5px 10px;
  background-color:#658985;
  color: brown;
  color: white;
  border-radius: 5px;
}
.save:hover {
  background-color:#658985;
  cursor: pointer;
}

textarea:focus {
  border: none;
  outline: none;
  font-family: "Prompt", sans-serif;
}
.note.new {
  background-color: #E69B6C;
}

.note {
  background-color: #BBBBBB;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.note_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delIcon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: #E69B6C;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}

.search > input {
  border: none;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 2px;
}

.search > input:focus {
  outline: none;
}

.dark_mode {
  background-color: rgb(29, 38, 43);
  padding-bottom: 20px;
}

.dark_mode h1 {
  color: #EFDBD3;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
